body {
  padding-top: 50px;
  background: #eee
}

h2 {
    text-transform: uppercase;
}

/************* ABOUT *************/
#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#about .profile-picture {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 50px;
}

#about .global-informations h3{
  text-transform: uppercase;
}

/************* BACKGROUND *************/
#background {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#background-sections {
  margin-left: 20px;
}

#tag-list {
  align-self: flex-start;
  margin-top: 50px;
}

#tag-list .tag {
  display: inline-block;
  padding: 6px;
  border-radius: 3px;
  margin: 5px 0px;
  font-weight: 600;
  color: #eee;
  opacity: 0.7;
  z-index: -1;
  cursor: pointer;
}

#tag-list .tag.selected-tag {
  opacity: 1;
}
.web {
  background-color: #E74C3C;
}

.prog {
  background-color: #48C9B0;
}

.data {
  background-color: #8E44AD;
}

.ios {
  background-color: #F39C12;
}

.background-item {
  position: relative;
  background-color: white;
  padding: 10px;
  box-shadow: 7px 7px 20px #888888;
  margin-bottom: 20px;
}

.background-item h3 {
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 300;
}

.background-item-header {
  display: flex;
  justify-content: flex-start;
  align-items: center
}

.background-item-header-image {
  margin-left: 20px;
}

.background-item-header-image img {
  width: auto;
  height: 40px;
}

.background-item-info {
  display: flex;
}

.background-item-info img {
  width: 100px;
  height: 100px;
  margin-left: 100px;
}

.background-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background-item-technos i {
    font-size: 2em;
}

.background-item-date {
    text-transform: uppercase;
    font-weight: 400;
    color: #2E4053;
}

.tags {
  position: absolute;
  top: 6px;
  right: 5px;
  display: flex;
  flex-direction: column;
  color: white;
  display: inline-block;
  font-weight: 600;
}

.background-item-tag {
  padding: 2px 5px;
  margin: 3px 0px;
  border-radius: 3px;
  display: inline-block;
}

.section-icon {
  position: absolute;
  font-size: 10em;
  top: 0;
  right: -200px;
}

#projects {
  position: relative;
}

#map {
  height: 400px;
}

.medias {
  display: flex;
  justify-content: space-around;
}
